.schedule {
    position: fixed;
    top: 75px;
    bottom: 15px;
    left: 66vw;
    right: 10px;
    padding: 15px;
    border: 1px;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px 0px var(--shadow);
    overflow-y: auto;
    background-color: var(--bggrey);
}
